Django==6.1
pillow==12.3.0
python-dotenv==1.2.2
psycopg2-binary==2.9.12
gunicorn==22.0.0
whitenoise==6.7.0
djangorestframework==3.18.0
django-cors-headers==4.9.0
django-storages==1.14.6
boto3==1.40.76
